<!DOCTYPE html>
<html>
    <head>

        {% block css %}
        {% endblock css%}

        {% block javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
            <script src="{{ MEDIA_URL }}static/socket.io/socket.io.js"></script> 
            <script src="{{ MEDIA_URL }}static/app.js"></script>
        {% endblock javascript %}
    </head>
    
    <body>
        <div id='content'>
            {% block content %}
            {% endblock content %}
        </div>
    </body>

</html>
