{% extends 'chat/base.html' %}

{% block content %}
    <script src="{{ MEDIA_URL }}static/app.js"></script>
    <section id='messages'>
        <article>I am a message!</article>
        <article>I am also a message!</article>
        <article>I am foo bar a message!</article>
        <article>I am a hello world!</article>
        <form method='post' id='chatform'>
            <input type='text' id='chatinput' /><input type='submit' name='submit' value='Send' />
        </form>
    </section>
    <section id='stream'>
        STREAMZ
    </section>
{% endblock %}
