{% extends 'chat/base.html' %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript'>
    var SOCKET_SERVER = "{{ CHAT_SERVER_URL }}";
    var SOCKET_PORT = "{{ CHAT_SERVER_PORT }}";
    console.log(SOCKET_SERVER, SOCKET_PORT);
    </script>
    <script src="{{ MEDIA_URL }}static/app.js"></script>
{% endblock javascript %}

{% block content %}
    <section id='messages'>
        <article>I am a message!</article>
        <article>I am also a message!</article>
        <article>I am foo bar a message!</article>
        <article>I am a hello world!</article>
        <form method='post' id='chatform'>
            <input type='text' id='chatinput' /><input type='submit' name='submit' value='Send' />
        </form>
    </section>
    <section id='stream'>
        STREAMZ
    </section>
{% endblock %}
