{% extends 'chat/base.html' %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript'>
    var SOCKET_SERVER = "{{ CHAT_SERVER_URL }}";
    var SOCKET_PORT = "{{ CHAT_SERVER_PORT }}";
    </script>
    <script src="{{ MEDIA_URL }}static/app.js"></script>
{% endblock javascript %}

{% block content %}
    <section id='messages'>

    </section>
    <section id='form'>
        <form method='post' id='chatform'>
            <input type='text' id='chatinput' placeholder='Type your message' />
            <br/><small style='color:rgba(0,0,0,0.35); font-size: 0.8em;'>Press ENTER to send</small>
        </form> 
    </section>
    <section id='stream'>
        <h2>What's happening!</h2>
    </section>
{% endblock %}
