{% load chat_tags %}
{% verbatim %}
<script id="postrank" type="text/html">
    <h4>Post Rank</h4>
    <ul>
        <li><a href="{{ url }}">{{ url }}</a></li>
        <li><img src="/site-media/static/images/digg.png" /> {{ digg }}</li>
        <li><img src="/site-media/static/images/reddit.png" /> {{ reddit_votes }}</li>
        <li><img src="/site-media/static/images/delicious.png" /> {{ delicious }}</li>
        <li><img src="/site-media/static/images/twitter.png" /> {{ twitter }}</li>
    </ul>
</script>

<script id="pixmatch" type="text/html">
    {{ list }}
</script>

<script id="pixmatch_derive" type="text/html">
    <li><img src="{{ label }}" alt="" class="pixmatch-icon"></li>
</script>
{% endverbatim %}
