{% load chat_tags %}
{% verbatim %}
<script id="postrank" type="text/html">
    <h4>Post Rank</h4>
    <ul>
        <a href="{{ url }}">{{ url }}</a></li>
        <li>digg: {{ digg }}</li>
        <li>reddit_votes: {{ reddit_votes }}</li>
        <li>delicious: {{ delicious }}</li>
        <li>twitter: {{ twitter }}</li>
    </ul>
</script>

<script id="pixmatch" type="text/html">
    {{ list }}
</script>

<script id="pixmatch_derive" type="text/html">
    <li><img src="{{ label }}" alt="" class="pixmatch-icon"></li>
</script>
{% endverbatim %}
