* {margin: 0; padding: 0;}

#messages {
    background-color: pink;
    float: left;
    width: 50%;
}

#messages article {
    border-bottom: 1px solid red;
    border-collapse: collapse;
}

#stream {
    background-color: lime;
    margin-left: 50%;
    width: 50%;
}
